<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head lang="en" th:replace="head :: head"> </head>
    <body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
        <header th:replace ="topnavbar::topnavbar"></header>
        <section th:replace ="butcherbottomnavbar::butcherbottomnavbar"></section>
        <section id="home" class="slider" data-stellar-background-ratio="0.5">
            <br/>
            <div class="row" >
                <div id="msg"></div>
                <div class="container">
                    <div class="row" >
                        <label style="font-size: 2.2rem;">Stock Group Category</label>
                        <div class="form-inline">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3" align="left">
                                    <span class="add-on"><h7>Search:</h7></span>
                                    <input class="form-control" id="system-search" name="q" placeholder="Search for"/>
                                    <span class="glyphicon glyphicon-search text-glyphicon"></span>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="table-responsive">
                           <table class="table center-aligned-table">
                                            <thead >
                                                <tr> 
                                                    <th>
                                                        Action
                                                    </th>
                                                    <th>
                                                        Name
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-th-each="categories : ${categoriess}">
                                                    <td>
                                                        <a th:href="@{'/stocks/editcategory/' + ${categories.id}}"> <span class="glyphicon glyphicon-edit text-glyphicon" title="Edit"></span></a>
                                                        <a th:href="@{'/stocks/deletecategory/' + ${categories.id}}"> <span class="glyphicon glyphicon-remove text-red" title="delete"></span></a>
                                                    </td>
                                                    <td data-th-text="${categories.category}">...</td>
                                                </tr>
                                            </tbody>
                                        </table>
                        </div>

                    </div> </div>
            </div> 
        </section>
        <div th:replace ="footer::footer"></div>
        <script th:utext="${msg}"></script>
    </body>
</html>