<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head lang="en" th:replace="head :: head"> </head>
    <body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
        <header th:replace ="topnavbar::topnavbar"></header>
        <section th:replace ="butcherbottomnavbar::butcherbottomnavbar"></section>
        <section id="home" class="slider" data-stellar-background-ratio="0.5">
            <br/>
            <div class="row" >
                <div id="printOut"></div>
                <div id="msg"></div>
                <div class="container">
                    <div class="row" >
                        <label style="font-size: 2.2rem;">Inventory Details</label>
                        <div class="form-inline">
                            <div class="row" >
                                <!--                                    <span class="add-on"><h7>From:</h7></span>
                                                                    <input type="text" class="form-control"/>
                                                                    <span class="add-on"><h7>To:</h7></span>
                                                                    <input type="text" class="form-control"/>-->
                                <div class="space">
                                    <button class="btn btn-pumpkin" title="Add New">
                                        <a th:href="@{/stocks/addinventory}">  <span class="glyphicon glyphicon-plus text-glyphicon">
                                            </span> <h7>Add New</h7></a>
                                    </button>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3" align="left">
                                    <span class="add-on"><h7>Search:</h7></span>
                                    <input type="text" class="form-control" id="system-search" name="q" placeholder="Search for"/>
                                    <span class="glyphicon glyphicon-search text-glyphicon"></span>

                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="table-responsive">
                            <table class="table center-aligned-table ">
                                <thead >
                                    <tr>
                                        <th>
                                            Action
                                        </th>
                                        <th>
                                            Inventory ID
                                        </th>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Quantity
                                        </th>
                                        <th>
                                            Purchase Price 
                                        </th>
                                        <th>
                                            Supplier
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-th-each="inventorys : ${inventoryss}">

                                        <td><a th:href="@{'/stocks/editinventory/' + ${inventorys.id}}" > <span class="glyphicon glyphicon-edit text-glyphicon" title="Edit"></span></a>
                                            <a th:href="@{'/stocks/addstockrequest/' + ${inventorys.id}}"> <span class="glyphicon glyphicon-transfer text-glyphicon" title="stock request"></span></a>
                                            <!--                                            <a th:href="@{'/stocks/deleteinventory/' + ${inventorys.id}}"> <span class="glyphicon glyphicon-remove text-red" title="Delete"></span></a>
                                            -->
                                            <a onclick="printInventoryResultOutput()"> <span class="glyphicon glyphicon-print text-glyphicon" title="print"></span></a>

                                        </td>
                                        <td data-th-text="${inventorys.id}">...</td>
                                        <td data-th-text="${inventorys.stockgroup?.name}">...</td>
                                        <td data-th-text="${inventorys.quantity} +' '+ ${inventorys.measurement?.measurementName}">...</td>
                                        <td data-th-text="${inventorys.originalPrice}">...</td>
                                        <td data-th-text="${inventorys.supplier?.name}">...</td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div> </div>
            </div> 
        </section>
        <div th:replace ="footer::footer"></div>
        <script th:utext="${msg}"></script>
    </body>
</html>