<head th:fragment="loginCss">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MyProject</title>
    <link rel="shortcut icon" th:href="@{/images/lo.png}" type="images/png"/>
      <link rel="stylesheet" th:href="@{/other/css/fontawesome.min.css}"  type="text/css" />
          <link rel="stylesheet" th:href="@{/other/css/bootstrap.min.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/other/css/login.css}"  type="text/css" />
<script type="text/javascript" th:src="@{/other/js/msg.js}"></script>
</head>